<table>
<%= form_with(scope: :post, url: '/users/confirm', local: true) do |form| %>
<table>
  <tr>
    <th class="create_user"><%= form.label :name, '氏名' %><must>*</must></th>
    <td><%= basic_info[:name] %></td>
  </tr>

  <tr>
    <th class="create_user"><%= form.label :user_code, 'ユーザーID' %><must>*</must></th>
    <td><%= basic_info[:user_code] %></td>
  </tr>

  <tr>
    <th class="create_user"><%= form.label :user_name, 'ユーザー名' %><must>*</must></th>
    <td><%= basic_info[:user_name] %></td>
  </tr>

  <tr>
    <th class="create_user"><%= form.label :email, 'メールアドレス' %><must>*</must></th>
    <td><%= basic_info[:email] %></td>
  </tr>

  <tr>
    <th class="create_user"><%= form.label :area, '活動している地域' %></th>
    <td><%= @prefectures[basic_info[:prefecture_id].to_i - 1][0] %>　<%= basic_info[:area] %></td>
  </tr>

  <tr>
    <th class="create_user"><%= form.label :birthday, '生年月日' %><must>*</must></th>
    <td>
      <%= basic_info[:birthday_year] %>年
      <%= basic_info[:birthday_month] %>月
      <%= basic_info[:birthday_day] %>日
      （<%= @display_type[basic_info[:display_type].to_i] %>）
    </td>
  </tr>

  <tr>
    <th class="create_user"><%= form.label :status_id, '現在の稼働ステータス' %></th>
    <td><%= @status[basic_info[:display_type].to_i] %></td>
  </tr>

  <tr>
    <th class="create_user"><%= form.label :twitter_id, 'Twitter ID' %></th>
    <td><div style="margin: 0 10px;">https://twitter.com/<%= basic_info[:twitter_id] %></div></td>
  </tr>

  <tr>
    <th class="create_user"><%= form.label :facebook_id, 'Facebook ID' %></th>
    <td><div style="margin: 0 10px;">https://www.facebook.com/<%= basic_info[:facebook_id] %></div></td>
  </tr>

  <tr>
    <th class="create_user"><%= form.label :github_id, 'Github ID' %></th>
    <td><div style="margin: 0 10px;">https://github.com/<%= basic_info[:github_id] %></div></td>
  </tr>

  <tr>
    <th class="create_user"><%= form.label :youtube_id, 'youtubeチャンネル名' %></th>
    <td><div style="margin: 0 10px;">https://www.youtube.com/user/<%= basic_info[:youtube_id] %></div></td>
  </tr>

  <tr>
    <th><%= form.label :website_url, 'ホームページのURL' %></th>
    <td><%= basic_info[:website_url] %></td>
  </tr>
</table>

  <div class="actions">
    <%= form.submit '登録', class: 'submit' %>
  </div>
<% end %>
