<h1>フリーランサー 一覧</h1>

<ul class="freelancer-list">
  <li class="freelancer-card">
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name"><%= link_to 'ジョン', user_path(1) %></li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>

  <li class="freelancer-card">
    <div class="thumbnail">
      <%= link_to user_path(1) do %>
        <%= image_tag '31529208.png', :size =>'160x160' %>
      <% end %>
    </div>
    <div class="profile">
      <ul>
        <li class="name"><%= link_to 'ジョン', user_path(1) %></li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>

  <li class="freelancer-card">
    <div class="thumbnail">
      <%= image_tag 'woman.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>

  <li class="freelancer-card">
    <div class="thumbnail">
      <%= image_tag 'woman.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>

  <li class="freelancer-card">
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>

  <li class="freelancer-card">
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>

  <li class="freelancer-card">
    <div class="thumbnail">
      <%= image_tag 'woman.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>

  <li class="freelancer-card">
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>

  <li class="freelancer-card">
    <div class="thumbnail">
      <%= image_tag 'woman.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>

  <li class="freelancer-card">
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>

  <li class="freelancer-card">
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>

  <li class="freelancer-card">
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
        <ul class="review-list">
          <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
          <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
          <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
        </ul>
      </ul>
    </div>
  </li>
</ul>
