<h1>フリーランサー 一覧</h1>

<ul class="freelancer-list">
  <li>
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
      </ul>
    </div>
  </li>

  <li>
    <div class="thumbnail">
      <%= image_tag '31529208.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
      </ul>
    </div>
  </li>

  <li>
    <div class="thumbnail">
      <%= image_tag 'woman.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
      </ul>
    </div>
  </li>

  <li>
    <div class="thumbnail">
      <%= image_tag 'woman.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
      </ul>
    </div>
  </li>

  <li>
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
      </ul>
    </div>
  </li>

  <li>
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
      </ul>
    </div>
  </li>

  <li>
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
      </ul>
    </div>
  </li>

  <li>
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
      </ul>
    </div>
  </li>

  <li>
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
      </ul>
    </div>
  </li>

  <li>
    <div class="thumbnail">
      <%= image_tag 'man.png', :size =>'160x160' %>
    </div>
    <div class="profile">
      <ul>
        <li class="name">ジョン</li>
        <li>
        </li>
        <li class="price">4,000円/h〜</li>
        <li class="start">稼働可能時期：10月〜</li>
        <div class="skill">
          <label>Ruby on Rails</label>
          <label>PHP</label>
          <label>javascript</label>
          <label>css</label>
        </div>
      </ul>
    </div>
  </li>


</ul>
