<h1>ジョンさんのプロフィール</h1>
<ul class="freelancer-profile">
  <li>
    <div class="thumbnail">
      <%= image_tag '31529208.png', :size =>'320x320' %>
    </div>
    <ul class="review-list">
      <li><%= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
      <li><%= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
      <li><%= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
    </ul>
  </li>
  <li>
    <table>
      <tr>
        <th>ユーザー名</th><td>ジョン</td>
      </tr>
      <tr>
        <th>活動拠点</th><td>神奈川県 横浜市</td>
      </tr>
      <tr>
        <th>誕生日</th><td>1991年 10月 20日 (28歳)</td>
      </tr>
      <tr>
        <th>SNS</th>
        <td>
          <table>
            <tr>
              <td class="sns"><%= image_tag 'twitter.png', :class => 'sns-icon', :size =>'20x20' %></td>
              <td class="sns-id">jonconan</td>
            </tr>
            <tr>
              <td class="sns"><%= image_tag 'facebook.png', :class => 'sns-icon', :size =>'20x20' %></td>
              <td class="sns-id">jonconan</td>
            </tr>
            <tr>
              <td class="sns"><%= image_tag 'github.png', :class => 'sns-icon', :size =>'20x20' %></td>
              <td class="sns-id">jonconan</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </li>
</ul>
