<h1>ログイン</h1>

<%= form_with(scope: :post, local: true) do |form| %>
<table>
  <tr>
    <th class="create_user"><%= form.label :user_code, 'ユーザーID' %></th>
    <td>
      <%= form.text_field :user_code,
          class: 'input_form', placeholder: 'jonconan',
          value: session[:basic_info]["user_code"]
      %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :password, 'パスワード' %></th>
    <td><%= form.password_field :password, class: 'input_form' %></td>
  </tr>
</table>

<div class="actions">
  <%= form.submit '次へ', class: 'submit' %>
</div>
<% end %>

<%= link_to 'Back', users_path %>
